@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --orange: hsl(23.1deg, 100%, 50%);
  --yellow: hsl(60deg, 100%, 50%);

  --gray1: hsl(0 0% 99%);
  --gray2: hsl(0 0% 97.3%);
  --gray3: hsl(0 0% 95.1%);
  --gray4: hsl(0 0% 93%);
  --gray5: hsl(0 0% 90.9%);
  --gray6: hsl(0 0% 88.7%);
  --gray7: hsl(0 0% 85.8%);
  --gray8: hsl(0 0% 78%);
  --gray9: hsl(0 0% 56.1%);
  --gray10: hsl(0 0% 52.3%);
  --gray11: hsl(0 0% 43.5%);
  --gray12: hsl(0 0% 9%);
}

[data-theme="dark"] {
  --gray1: hsl(0 0% 8.5%);
  --gray2: hsl(0 0% 11%);
  --gray3: hsl(0 0% 13.6%);
  --gray4: hsl(0 0% 15.8%);
  --gray5: hsl(0 0% 17.9%);
  --gray6: hsl(0 0% 20.5%);
  --gray7: hsl(0 0% 24.3%);
  --gray8: hsl(0 0% 31.2%);
  --gray9: hsl(0 0% 43.9%);
  --gray10: hsl(0 0% 49.4%);
  --gray11: hsl(0 0% 62.8%);
  --gray12: hsl(0 0% 93%);
}

@theme inline {
  --color-background: var(--gray1);
  --color-foreground: var(--gray12);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  padding-top: 100px;
  margin: 0px auto;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 0px;
  max-width: 720px;
}

@media (max-width: 768px) {
  main {
    padding-top: 75px;
  }
}

h1 {
  font-size: var(--text-base);
  font-weight: var(--font-weight-semibold);
  margin-bottom: 1.5rem;
}

p {
  font-size: var(--text-base);
  font-weight: var(--font-weight-normal);
  margin-bottom: 1rem;
}

::selection {
  background-color: var(--yellow);
  color: var(--color-black);
}